name: example
description: A new Flutter project.
version: 1.0.0+1
publish_to: none

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.0

flutter:
  uses-material-design: true
