.DS_Store
.atom/
.idea
.vscode
.packages
.dart_tool/
.pub/
build/
packages/**/ios/
packages/**/android/
doc/api/
pubspec.lock
.flutter-plugins
*.iml
coverage/
.test_coverage.dart
*.log
!packages/**/example/ios/
!packages/**/example/android/