language: dart
os:
  - linux
sudo: required
dist: trusty
dart:
- 2.1.0
addons:
  chrome: stable
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++6
      - fonts-droid
before_script:
  - git clone https://github.com/flutter/flutter.git -b stable --depth 1
  - ./flutter/bin/flutter doctor
script:
  - cd packages/bloc
  - pub get
  - pub run test_coverage
  - cp coverage/lcov.info ../../bloc.lcov
  - cd ../angular_bloc
  - pub get
  - pub upgrade
  - pub global activate webdev
  - webdev build
  - pub run build_runner test --fail-on-severe
  - cd ../flutter_bloc
  - ../../flutter/bin/flutter test --coverage --coverage-path=../../flutter_bloc.lcov
after_success:
  - bash <(curl -s https://codecov.io/bash)
cache:
  directories:
    - $HOME/.pub-cache