class CounterScreen extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return Scaffold(
      body: Center(
        child: BlocListener<SubjectCubit, SubjectState>(
          listener: (context, state) {
            // TODO: implement listener
          },
          child: Text('Example'),
        ),
      ),
    );
  }
}