import 'package:cubit/cubit.dart';
import 'package:equatable/equatable.dart';

part '${cubit_snake_case}_state.dart';

class ${cubit_pascal_case}Cubit extends Cubit<${cubit_pascal_case}State> {
  ${cubit_pascal_case}Cubit() : super(${cubit_pascal_case}Initial());
}
