import 'package:freezed_annotation/freezed_annotation.dart';

part '^{cubit_snake_case}_state.freezed.dart';

@freezed
class ^{cubit_pascal_case}State with _$^{cubit_pascal_case}State {
  const factory ^{cubit_pascal_case}State.initial() = ^{cubit_pascal_case}InitialState;
}
