class CounterScreen extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return Scaffold(
      body: Center(
        child: BlocProvider(
          create: (context) => SubjectBloc(),
          child: Text('Example'),
        ),
      ),
    );
  }
}