<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723801655785-q32shikad9kssjcqpgor7otejbam7kbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723801655785-q32shikad9kssjcqpgor7otejbam7kbg</string>
	<key>API_KEY</key>
	<string>AIzaSyAVD5jflKMDTKVeaJ7ZHCv1A0AWBL7_26Y</string>
	<key>GCM_SENDER_ID</key>
	<string>723801655785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirestoreTodos</string>
	<key>PROJECT_ID</key>
	<string>flutter-bloc-todo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bloc-todo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723801655785:ios:bf3834d96afdc1d4</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-bloc-todo-app.firebaseio.com</string>
</dict>
</plist>