import 'package:equatable/equatable.dart';
import 'package:meta/meta.dart';

@immutable
abstract class ${bloc_pascal_case}State extends Equatable {
  ${bloc_pascal_case}State([List props = const <dynamic>[]]) : super(props);
}

class Initial${bloc_pascal_case}State extends ${bloc_pascal_case}State {}
