import 'package:equatable/equatable.dart';
import 'package:meta/meta.dart';

@immutable
abstract class ${bloc_camel_case}State extends Equatable {
  ${bloc_camel_case}State([List props = const []]) : super(props);
}

class Initial${bloc_camel_case}State extends ${bloc_camel_case}State {}
