import 'dart:async';

import 'package:bloc/bloc.dart';

import 'bloc.dart';

class ${bloc_pascal_case}Bloc extends Bloc<${bloc_pascal_case}Event, ${bloc_pascal_case}State> {
  @override
  ${bloc_pascal_case}State get initialState => ${bloc_pascal_case}Initial();

  @override
  Stream<${bloc_pascal_case}State> mapEventToState(
    ${bloc_pascal_case}Event event,
  ) async* {
    // TODO: Add Logic
  }
}
