part of '{{cubit_snake_case}}_cubit.dart';

sealed class {{cubit_pascal_case}}State extends Equatable {
  const {{cubit_pascal_case}}State();
}

final class {{cubit_pascal_case}}Initial extends {{cubit_pascal_case}}State {
  @override
  List<Object> get props => [];
}
