body .app-nav {
  color: #34495e !important;
}
.cover {
  color: #34495e !important;
}

section.cover {
  min-height: 100vh;
  height: auto !important;
  padding: 2em 0.5em;
}

section.cover .cover-main {
  z-index: 0;
}

section.cover .cover-main > .buttons a {
  border-radius: 2rem;
  border: 1px solid var(--theme-color, #42b983);
  box-sizing: border-box;
  color: var(--theme-color, #42b983);
  display: inline-block;
  font-size: 1.05rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem 1rem;
  padding: 0.75em 2rem;
  text-decoration: none;
  transition: all 0.15s ease;
}
section.cover .cover-main > .buttons a:last-child {
  background-color: var(--theme-color, #42b983);
  color: #fff;
}
section.cover .cover-main > .buttons a:last-child:hover {
  color: inherit;
  opacity: 0.8;
}
section.cover .cover-main > .buttons a:hover {
  color: inherit;
}
section.cover blockquote > .buttons > a {
  border-bottom: 2px solid var(--theme-color, #42b983);
  transition: color 0.3s;
}
section.cover blockquote > .buttons > a:hover {
  color: var(--theme-color, #42b983);
}

#TOPBANNER {
  height: 2.5rem;
}

#TOPBANNER p {
  padding: 1.25rem 0;
}
