:root {
  --base-background-color: #091a28;
  --base-color: #b4b4b4;
  --link-color: #42b983;
  --link-text-decoration: none;
  --heading-color: #b4b4b4;
  --table-body-border-color: #eeeeee;
  --table-body-border-width: 0.5;
  --table-cell-border-color: #eeeeee;
  --table-cell-border-width: 0.5;
  --table-row-odd-background: #0e2233;
  --code-inline-background: #0e2233;
  --code-theme-text: #d22778;
  --cover-background-color: linear-gradient(
    to left bottom,
    hsl(118, 100%, 85%) 0%,
    hsl(181, 100%, 85%) 100%
  );
  --cover-background-mask-opacity: 0;
}

a {
  font-weight: 600;
}
.cover {
  color: #34495e;
  min-height: 100vh;
  height: auto !important;
  padding: 2em 0.5em;
}

section.cover .cover-main > .buttons a {
  border-radius: 2rem;
  border: 1px solid var(--theme-color, #42b983);
  box-sizing: border-box;
  color: var(--theme-color, #42b983);
  display: inline-block;
  font-size: 1.05rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem 1rem;
  padding: 0.75em 2rem;
  text-decoration: none;
  transition: all 0.15s ease;
}
section.cover .cover-main > .buttons a:last-child {
  background-color: var(--theme-color, #42b983);
  color: #fff;
}
section.cover .cover-main > .buttons a:last-child:hover {
  color: inherit;
  opacity: 0.8;
}
section.cover .cover-main > .buttons a:hover {
  color: inherit;
}
section.cover blockquote > .buttons > a {
  border-bottom: 2px solid var(--theme-color, #42b983);
  transition: color 0.3s;
}
section.cover blockquote > .buttons > a:hover {
  color: var(--theme-color, #42b983);
}

#TOPBANNER {
  height: 2.5rem;
}

#TOPBANNER p {
  padding: 1.25rem 0;
}

#cover-sponsors-grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 1em;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 0.8em;
}
