name: build

on:
  push:
    paths:
    - '.github/workflows/main.yaml'
    - 'examples/**'
    - 'packages/**'

  pull_request:
    paths:
    - 'examples/**'
    - 'packages/**'

env:
  flutter_channel: 'stable'
  flutter_version: '1.12.13+hotfix.8'

jobs:
  # Analyze and test each core package.
  packages:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        folder: ['packages/angular_bloc', 'packages/bloc', 'packages/bloc_test', 'packages/flutter_bloc']
        os: [ubuntu-latest]
        include:
          - os: ubuntu-latest
            flutter_path: /opt/hostedtoolcache/flutter
      fail-fast: false

    steps:
      - uses: actions/checkout@v2

      - name: Cache Flutter dependencies
        uses: actions/cache@v1
        with:
          path: ${{ matrix.flutter_path }}
          key: ${{ runner.OS }}-flutter-cache-${{ env.flutter_version }}
          restore-keys: |
            ${{ runner.OS }}-flutter-cache-

      - uses: subosito/flutter-action@v1
        with:
          channel: ${{ env.flutter_channel }}
          flutter-version: ${{ env.flutter_version }}

      - name: Analyze and test
        env:
          FLUTTER_DART_HOME: ${{ env.FLUTTER_HOME }}/bin/cache/dart-sdk/bin
        run: |
          export PATH=$PATH:$FLUTTER_DART_HOME
          ./scripts/ci.sh ${{ matrix.folder }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ${{ matrix.folder }}/coverage/lcov.info

  # Analyze and test for each pure Dart example.
  examples-pure:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        folder: ['packages/bloc/example', 'packages/bloc_test/example']
        os: [ubuntu-latest]
        include:
          - os: ubuntu-latest
            flutter_path: /opt/hostedtoolcache/flutter
      fail-fast: false

    steps:
      - uses: actions/checkout@v2

      - name: Cache Flutter dependencies
        uses: actions/cache@v1
        with:
          path: ${{ matrix.flutter_path }}
          key: ${{ runner.OS }}-flutter-cache-${{ env.flutter_version }}
          restore-keys: |
            ${{ runner.OS }}-flutter-cache-

      - uses: subosito/flutter-action@v1
        with:
          channel: ${{ env.flutter_channel }}
          flutter-version: ${{ env.flutter_version }}

      - name: Analyze and test
        env:
          FLUTTER_DART_HOME: ${{ env.FLUTTER_HOME }}/bin/cache/dart-sdk/bin
        run: |
          export PATH=$PATH:$FLUTTER_DART_HOME
          ./scripts/ci.sh ${{ matrix.folder }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ${{ matrix.folder }}/coverage/lcov.info

  # Analyze and test each AngularDart example.
  examples-web:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        folder: ['examples/angular_counter', 'examples/github_search/common_github_search', 'examples/github_search/angular_github_search']
        os: [ubuntu-latest]
        include:
          - os: ubuntu-latest
            flutter_path: /opt/hostedtoolcache/flutter
      fail-fast: false

    steps:
      - uses: actions/checkout@v2

      - name: Cache Flutter dependencies
        uses: actions/cache@v1
        with:
          path: ${{ matrix.flutter_path }}
          key: ${{ runner.OS }}-flutter-cache-${{ env.flutter_version }}
          restore-keys: |
            ${{ runner.OS }}-flutter-cache-

      - uses: subosito/flutter-action@v1
        with:
          channel: ${{ env.flutter_channel }}
          flutter-version: ${{ env.flutter_version }}

      - name: Analyze and test
        env:
          FLUTTER_DART_HOME: ${{ env.FLUTTER_HOME }}/bin/cache/dart-sdk/bin
        run: |
          export PATH=$PATH:$FLUTTER_DART_HOME
          ./scripts/ci.sh ${{ matrix.folder }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ${{ matrix.folder }}/coverage/lcov.info

  # Analyze and test each Flutter example.
  examples-flutter:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        folder: ['examples/flutter_bloc_with_stream', 'examples/flutter_complex_list', 'examples/flutter_dynamic_form', 'examples/flutter_firebase_login', 'examples/flutter_firestore_todos', 'examples/flutter_form_validation', 'examples/flutter_infinite_list', 'examples/flutter_login', 'examples/flutter_shopping_cart', 'examples/flutter_timer', 'examples/flutter_todos', 'examples/flutter_weather', 'examples/github_search/flutter_github_search', 'packages/flutter_bloc/example']
        os: [ubuntu-latest]
        include:
          - os: ubuntu-latest
            flutter_path: /opt/hostedtoolcache/flutter
            build_flutter_as: apk
      fail-fast: false

    steps:
      - uses: actions/checkout@v2

      - name: Cache Flutter dependencies
        uses: actions/cache@v1
        with:
          path: ${{ matrix.flutter_path }}
          key: ${{ runner.OS }}-flutter-cache-${{ env.flutter_version }}
          restore-keys: |
            ${{ runner.OS }}-flutter-cache-

      - uses: subosito/flutter-action@v1
        with:
          channel: ${{ env.flutter_channel }}
          flutter-version: ${{ env.flutter_version }}

      - name: Analyze and test
        env:
          FLUTTER_DART_HOME: ${{ env.FLUTTER_HOME }}/bin/cache/dart-sdk/bin
        run: |
          export PATH=$PATH:$FLUTTER_DART_HOME
          ./scripts/ci.sh ${{ matrix.folder }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ${{ matrix.folder }}/coverage/lcov.info