class CounterScreen extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return Scaffold(
      body: Center(
        child: MultiRepositoryProvider(
          providers: [
            RepositoryProvider(
              create: (context) => NumberRepository(),
            ),
            RepositoryProvider(
              create: (context) => SubjectRepository(),
            ),
          ],
          child: Text('Example'),
        ),
      ),
    );
  }
}